
.places {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

.places h1 {
	font-size: 30px;
	width: 100%;
	height: 30px;
	padding-left: 3%;
      }

      article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: #ff5a5f 1px solid;
	border-radius: 4PX;
	font-size: 30px;
	text-align: center;
}